language: python

# Use container-based infrastructure
sudo: false

env:
    - PYTHON=2.7
    - PYTHON=3.6
    - PYTHON=2.6 NUMPY="=1.7" DEPS="minimal"

# Setup anaconda
before_install:
  - wget -q http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes --quiet conda

install:
    - INSTALLS="nose numpy$NUMPY h5py pep8 pyflakes flake8 coverage"
    - if [ "${DEPS}" != "minimal" ]; then
        INSTALLS="$INSTALLS scipy pandas pytables";
      fi;
    - conda create -n testenv --yes pip python=$PYTHON $INSTALLS
    - source activate testenv
    - if [ "${PYTHON}" == "2.6" ]; then
        pip install -q requests[security];
      fi;
    - pip install -q coveralls
    - python setup.py build
    - python setup.py install

script:
    - nosetests --verbosity=2 --with-coverage
    - make flake

after_success:
    - coveralls
