trigger:
  batch: False
  branches:
    include:
      - '*'
pr:
  branches:
    include:
      - '*'

jobs:
- job:
  displayName: Windows
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Python38:
        python.version: '3.8'

  steps:
  - script: |
      call "%CONDA%\Scripts\activate" base
      echo "##vso[task.setvariable variable=PATH]%CONDA%\Scripts;%PATH%"
    displayName: Add conda to PATH and activate conda base
  - script: conda install -n base python=%PYTHON_VERSION% setuptools numpy scipy pandas pytest h5py coverage pytest-cov pytables codecov
    displayName: Setup conda environment
  - bash: |
      python --version
      python setup.py develop
    displayName: Install h5io
  - script: pytest h5io
    displayName: pytest
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'junit-*.xml'
      testRunTitle: 'Publish test results for $(Agent.JobName) $(PYTHON_VERSION)'
      failTaskOnFailedTests: true
    condition: succeededOrFailed()
